---
apiVersion: v1
kind: Service
metadata:
  name: pve
spec:
  ports:
    - name: https
      protocol: TCP
      port: 443
      targetPort: 8006

---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: pve
  labels:
    kubernetes.io/service-name: pve
addressType: IPv4
ports:
  - name: https
    appProtocol: https
    protocol: TCP
    port: 8006
endpoints:
  - addresses:
      - 192.168.1.20
      - 192.168.1.21
      - 192.168.1.22

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/upstream-hash-by: $host
  name: pve
spec:
  ingressClassName: internal
  rules:
    - host: &host pve.18b.haus
      http:
        paths:
          - backend:
              service:
                name: pve
                port:
                  number: 443
            path: /
            pathType: Prefix
  tls:
    - hosts:
        - *host
