---
wireguard_addresses:
  - 10.9.0.1
  - "{{ wireguard_ipv6_prefix | ansible.utils.ipmath(1) }}"
wireguard_endpoint: '{{ ansible_host }}'
wireguard_interface: wg0
wireguard_interface_restart: true
wireguard_persistent_keepalive: 25
wireguard_postup:
  - iptables -A FORWARD -i %i -j ACCEPT
  - iptables -A FORWARD -o %i -j ACCEPT
  # 192.168.40.252 is the external IP of the envoy-gateway-external service.
  - iptables -t nat -A PREROUTING -i {{ ansible_default_ipv4.interface }} -p tcp -m multiport --dport 80,443 -j DNAT --to-destination 192.168.40.252
  - iptables -t nat -A POSTROUTING -o %i -p tcp -m multiport --dport 80,443 -d 192.168.40.252 -j SNAT --to-source 10.9.0.1
  - iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
wireguard_postdown:
  - iptables -D FORWARD -i %i -j ACCEPT
  - iptables -D FORWARD -o %i -j ACCEPT
  # 192.168.40.252 is the external IP of the envoy-gateway-external service.
  - iptables -t nat -D PREROUTING -i {{ ansible_default_ipv4.interface }} -p tcp -m multiport --dport 80,443 -j DNAT --to-destination 192.168.40.252
  - iptables -t nat -D POSTROUTING -o %i -p tcp -m multiport --dport 80,443 -d 192.168.40.252 -j SNAT --to-source 10.9.0.1
  - iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
wireguard_unmanaged_peers:
  opnsense:
    public_key: EdmzcHAwnIn5Uv/SRDKBnwBUZIVxZ2MUnT7Ps/zFLHw=
    allowed_ips: 10.9.0.2, 192.168.0.0/16, {{ wireguard_ipv6_prefix | ansible.utils.ipmath(2) }}
  thinkpad:
    public_key: 6kzQOd0zTahqFFO08SniNRCW9L7YOr9Td1TrHGECAQE=
    allowed_ips: 10.9.0.3, {{ wireguard_ipv6_prefix | ansible.utils.ipmath(3) }}
  phone:
    public_key: 8Nzsqy3D3mD1uvEeSyE/AqHFfAQhvMxtpk48Y44a414=
    allowed_ips: 10.9.0.4, {{ wireguard_ipv6_prefix | ansible.utils.ipmath(4) }}
  macbook:
    public_key: 6y7mczgLTw32j5NsOK1M/XuhdLicL9wSwA/8B3mjwUE=
    allowed_ips: 10.9.0.5, {{ wireguard_ipv6_prefix | ansible.utils.ipmath(5) }}
  phone-wife:
    public_key: xwxOr+lgsXpO33iCfyQxV9EqVm7+9WpqPO0bEHewXR8=
    allowed_ips: 10.9.0.6, {{ wireguard_ipv6_prefix | ansible.utils.ipmath(6) }}
