---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
components:
  - ../../components/common
resources:
  - ./headlamp/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./promtail/ks.yaml
  - ./smartctl-exporter/ks.yaml
