---
# yaml-language-server: $schema=https://kubernetes-schemas.18b.haus/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 2h
  chart:
    spec:
      chart: longhorn
      version: 1.11.0
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  values:
    csi:
      attacherReplicaCount: 2
      provisionerReplicaCount: 2
      resizerReplicaCount: 2
      snapshotterReplicaCount: 2
    longhornManager:
      nodeSelector:
        node.longhorn.io/create-default-disk: "true"
    longhornDriver:
      nodeSelector:
        node.longhorn.io/create-default-disk: "true"
    longhornUI:
      replicas: 1
      nodeSelector:
        node.longhorn.io/create-default-disk: "true"
    persistence:
      defaultClass: false
      defaultFsType: ext4
      defaultClassReplicaCount: 2
      reclaimPolicy: Delete
      diskSelector: nvme
    defaultSettings:
      concurrentAutomaticEngineUpgradePerNodeLimit: 1
      createDefaultDiskLabeledNodes: true
      defaultDataLocality: best-effort
      defaultLonghornStaticStorageClass: longhorn
      defaultReplicaCount: 2
      deletingConfirmationFlag: false
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      orphanAutoDeletion: true
      replicaAutoBalance: best-effort
      systemManagedComponentsNodeSelector: "node.longhorn.io/create-default-disk:true"
    pspEnable: false
    metrics:
      serviceMonitor:
        enabled: true
    privateRegistry:
      registrySecret: dockerhub-auth
  postRenderers:
    - kustomize:
        patches:
          # Add dockerhub-auth imagePullSecret to ServiceAccounts.
          - target:
              kind: ServiceAccount
            patch: |
              apiVersion: v1
              kind: ServiceAccount
              metadata:
                name: not-used
              imagePullSecrets:
                - name: dockerhub-auth
