---
# yaml-language-server: $schema=https://kubernetes-schemas.18b.haus/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: authentik-outpost
spec:
  secretName: authentik-outpost-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: 18b.haus
  dnsNames:
    - "18b.haus"
    - "*.18b.haus"
    - "*.storage.18b.haus"
