---
# yaml-language-server: $schema=https://kubernetes-schemas.18b.haus/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik-remote-cluster
spec:
  chart:
    spec:
      chart: authentik-remote-cluster
      version: 2.1.0
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
  interval: 2h
