# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Ansible
.venv*
# Taskfile
.task/
# Terraform
*.tfvars
.terraform.tfstate.lock*
.terraform/
authorized_keys
terraform.tfstate*
