---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 2h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      home-assistant:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.2.3@sha256:d73c9c53a8562e12211f24fd7303c422051220636972485df291dbec885d8a3d
            resources:
              requests:
                cpu: 10m
                memory: 400Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          code:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.109.2@sha256:1b84cd817fe8eb1159323ae9d2f29b3c70c6ccd44958d651a94900cf7f0ff9c4
            args:
              - --auth
              - "none"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"
              - "--port"
              - "80"
              - /config
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: home-assistant
        ports:
          http:
            port: &port 8123
      code:
        controller: home-assistant
        ports:
          http:
            port: &codePort 80
      coiot:
        controller: home-assistant
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: home-assistant-coiot.18b.haus
          io.cilium/lb-ipam-ips: 192.168.40.248
        ports:
          coiot:
            protocol: UDP
            port: 5683
    serviceMonitor:
      app:
        serviceName: home-assistant-app
        endpoints:
          - port: http
            scheme: http
            path: /api/prometheus
            interval: 1m
            scrapeTimeout: 10s
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |
            name: home-assistant
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Automation
          gethomepage.dev/icon: home-assistant.png
          gethomepage.dev/name: Home Assistant
          gethomepage.dev/pod-selector: app.kubernetes.io/name=home-assistant
        hostnames:
          - home-assistant.18b.haus
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: home-assistant-app
                port: *port
      code:
        annotations:
          gatus.home-operations.com/enabled: "false"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Automation
          gethomepage.dev/icon: vscode.png
          gethomepage.dev/name: Home Assistant Code
          gethomepage.dev/pod-selector: app.kubernetes.io/name=home-assistant
        hostnames:
          - home-assistant-code.18b.haus
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: home-assistant-code
                port: *codePort
    persistence:
      config:
        enabled: true
        existingClaim: home-assistant
      tmp:
        type: emptyDir
