---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 2h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      esphome:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2025.11.1@sha256:02ca34d33789b1c7f4389c644d28e7f6892c26f931a67972e74221a8932d1457
            env:
              ESPHOME_DASHBOARD_USE_PING: true
              PLATFORMIO_CORE_DIR: .platformio
              PLATFORMIO_GLOBALLIB_DIR: .platformiolibs
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 400Mi
              limits:
                memory: 1Gi
          code:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.106.2@sha256:cca5c0bbff928df75ba9344a878e4ca7a321c0d42c34b39e02722b29855a56ac
            args:
              - --auth
              - "none"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"
              - "--port"
              - "80"
              - /config
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: esphome
        ports:
          http:
            port: &port 6052
      code:
        controller: esphome
        ports:
          http:
            port: &codePort 80
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |
            name: esphome
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Automation
          gethomepage.dev/icon: esphome.png
          gethomepage.dev/name: ESPHome
          gethomepage.dev/pod-selector: app.kubernetes.io/name=esphome
        hostnames:
          - esphome.18b.haus
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: esphome-app
                port: *port
      code:
        annotations:
          gatus.home-operations.com/enabled: "false"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Automation
          gethomepage.dev/icon: vscode.png
          gethomepage.dev/name: ESPHome Code
          gethomepage.dev/pod-selector: app.kubernetes.io/name=esphome
        hostnames:
          - esphome-code.18b.haus
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: esphome-code
                port: *codePort
    persistence:
      config:
        existingClaim: esphome
        globalMounts:
          - path: /config
      secrets:
        type: secret
        name: *app
        globalMounts:
          - path: /config/secrets.yaml
            subPath: secrets.yaml
      cache:
        type: emptyDir
        globalMounts:
          - path: /config/.esphome
