---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app echo-server
spec:
  interval: 2h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  uninstall:
    keepHistory: false
  values:
    controllers:
      echo-server:
        replicas: 2
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/jmalloc/echo-server
              tag: v0.3.7
            env:
              PORT: &port 8080
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 5m
                memory: 10Mi
              limits:
                memory: 25Mi
        pod:
          imagePullSecrets:
            - name: dockerhub-auth
          securityContext:
            runAsUser: 568
            runAsGroup: 568
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |
            name: echo-server
        hostnames:
          - echo.18b.haus
        parentRefs:
          - name: external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
      experimental:
        annotations:
          gatus.home-operations.com/endpoint: |
            name: echo-server-experimental
        hostnames:
          - echo-experimental.18b.haus
        parentRefs:
          - name: experimental
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
