---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app unifi
spec:
  interval: 2h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  uninstall:
    keepHistory: false
  values:
    controllers:
      unifi:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/jacobalberty/unifi-docker
              tag: v10.0.162@sha256:896c0ab82d33300694dae82982fd7094497afcbea0be92cadc1e94bfead731d3
              pullPolicy: IfNotPresent
            env:
              CERTNAME: tls.crt
              CERT_IS_CHAIN: true
              CERT_PRIVATE_NAME: tls.key
              UNIFI_HTTPS_PORT: &httpsPort 443
              UNIFI_HTTP_PORT: &httpPort 8080
              RUNAS_UID0: false
              UNIFI_UID: 999
              UNIFI_GID: 999
              UNIFI_STDOUT: true
              JVM_INIT_HEAP_SIZE:
              JVM_MAX_HEAP_SIZE: 1024M
            resources:
              requests:
                memory: 2Gi
                cpu: 50m
    service:
      app:
        controller: unifi
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: unifi-controller.18b.haus,unifi.18b.haus
          io.cilium/lb-ipam-ips: 192.168.40.244
        ports:
          https:
            port: *httpsPort
            protocol: HTTPS
          controller:
            port: *httpPort
            protocol: TCP
          portal-http:
            port: 8880
            protocol: HTTP
          portal-https:
            port: 8843
            protocol: HTTPS
          speedtest:
            port: 6789
            protocol: TCP
          stun:
            port: 3478
            protocol: UDP
          syslog:
            port: 5514
            protocol: UDP
          discovery:
            port: 10001
            protocol: UDP
    persistence:
      config:
        enabled: true
        existingClaim: unifi
        globalMounts:
          - path: /unifi
      cert:
        type: secret
        name: 18b-haus-tls
        globalMounts:
          - path: /unifi/cert
            readOnly: true
