---
# yaml-language-server: $schema=https://kubernetes-schemas.18b.haus/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app promtail
spec:
  interval: 2h
  chart:
    spec:
      chart: promtail
      version: 6.17.1
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: *app
    imagePullSecrets:
      - name: dockerhub-auth
    config:
      clients:
        - url: http://loki-headless.monitoring.svc.cluster.local:3100/loki/api/v1/push
          external_labels:
            cluster: main
    serviceMonitor:
      enabled: true
