---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vikunja
spec:
  interval: 2h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  uninstall:
    keepHistory: false
  values:
    controllers:
      vikunja:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom:
              - secretRef:
                  name: vikunja-init-db
        containers:
          main:
            image:
              repository: docker.io/vikunja/vikunja
              tag: 2.0.0@sha256:7126db888ff44c299a83a35af8ecacf98083a621ade4dd94b4a1c9bc8b837222
            env:
              VIKUNJA_AUTH_LOCAL_ENABLED: false
              VIKUNJA_DATABASE_TYPE: postgres
              VIKUNJA_DATABASE_SSLMODE: require
              VIKUNJA_DEFAULTSETTINGS_DISCOVERABLE_BY_EMAIL: true
              VIKUNJA_DEFAULTSETTINGS_DISCOVERABLE_BY_NAME: true
              VIKUNJA_DEFAULTSETTINGS_WEEK_START: 1
              VIKUNJA_MAILER_ENABLED: true
              VIKUNJA_SERVICE_ENABLEREGISTRATION: false
              VIKUNJA_SERVICE_PUBLICURL: https://vikunja.18b.haus
              VIKUNJA_SERVICE_TIMEZONE: Europe/Berlin
            envFrom:
              - secretRef:
                  name: vikunja
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/info
                    port: &port 3456
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 50m
                memory: 250Mi
              limits:
                memory: 750Mi
        pod:
          imagePullSecrets:
            - name: dockerhub-auth
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Tools
          gethomepage.dev/icon: vikunja.png
          gethomepage.dev/name: Vikunja
        hostnames:
          - vikunja.18b.haus
        parentRefs:
          - name: external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: vikunja
        globalMounts:
          - path: /app/vikunja/files
      vikunja-config:
        type: secret
        name: vikunja-config
        globalMounts:
          - path: /app/vikunja/config.yaml
            subPath: config.yaml
            readOnly: true
