---
# yaml-language-server: $schema=https://kubernetes-schemas.18b.haus/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: weave-gitops
spec:
  interval: 2h
  chart:
    spec:
      chart: weave-gitops
      version: 4.0.36
      sourceRef:
        kind: HelmRepository
        name: weave-gitops
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    additionalArgs:
      - --auth-methods=oidc
      - --oidc-secret-name=weave-gitops-oidc-auth
    adminUser:
      create: true
      createSecret: false
      username: admin
    ingress:
      enabled: true
      className: internal
      hosts:
        - host: &host gitops.storage.18b.haus
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
    networkPolicy:
      create: false
    metrics:
      enabled: true
    rbac:
      create: true
      viewSecretsResourceNames:
        - weave-gitops-oidc-auth
    podAnnotations:
      secret.reloader.stakater.com/reload: weave-gitops-oidc-auth
    resources:
      requests:
        cpu: 30m
        memory: 70Mi
      limits:
        memory: 210Mi
