---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pve-exporter
spec:
  interval: 2h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  uninstall:
    keepHistory: false
  values:
    controllers:
      pve-exporter:
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/prometheus-pve/prometheus-pve-exporter
              tag: 3.8.0@sha256:66e0c8558b23f06231ab55ab1afdef2d43ff24365bcf75d36adaef6d9f7497df
            env:
              PYTHONWARNINGS: once
            resources:
              requests:
                cpu: 10m
                memory: 40Mi
              limits:
                memory: 80Mi
        pod:
          imagePullSecrets:
            - name: dockerhub-auth
          securityContext:
            runAsUser: 568
            runAsGroup: 568
    service:
      app:
        controller: pve-exporter
        ports:
          http:
            port: 9221
    serviceMonitor:
      app:
        enabled: true
        endpoints:
          - path: /pve
            params:
              cluster:
                - "1"
              module:
                - default
              node:
                - "1"
              target:
                - pve.18b.lan
            port: http
            scheme: http
        serviceName: pve-exporter
    persistence:
      config:
        enabled: true
        type: secret
        name: pve-exporter
        globalMounts:
          - path: /etc/prometheus/pve.yml
            subPath: pve.yml
            readOnly: true
