---
# yaml-language-server: $schema=https://kubernetes-schemas.18b.haus/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  chart:
    spec:
      chart: authentik
      version: 2025.10.2
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
  interval: 2h
  values:
    authentik:
      email:
        host: smtp-relay.default.svc.cluster.local
        port: 25
        from: "Authentik <${SECRET_SMTP_DEFAULT_SENDER_ADDRESS}>"
      footer_links: '[]'
      log_level: debug
      error_reporting:
        enabled: false
      postgresql:
        host: postgres16-rw.database.svc.cluster.local
        port: 5432
        read_replicas:
          '0':
            host: postgres16-r.database.svc.cluster.local
            port: 5432
    server:
      annotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      initContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:18.1@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
          envFrom:
            - secretRef:
                name: &secret authentik-secret
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      replicas: 2
      resources:
        requests:
          cpu: 40m
          memory: 600Mi
        limits:
          memory: 800Mi
      revisionHistoryLimit: 3
    worker:
      annotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      replicas: 1
      resources:
        requests:
          cpu: 100m
          memory: 700Mi
        limits:
          memory: 1000Mi
      revisionHistoryLimit: 3
    prometheus:
      rules:
        enabled: true
  valuesFrom:
    - kind: Secret
      name: *secret
      valuesKey: SECRET_KEY
      targetPath: authentik.secret_key
    - kind: Secret
      name: *secret
      valuesKey: INIT_POSTGRES_USER
      targetPath: authentik.postgresql.user
    - kind: Secret
      name: *secret
      valuesKey: INIT_POSTGRES_PASS
      targetPath: authentik.postgresql.password
    - kind: Secret
      name: *secret
      valuesKey: INIT_POSTGRES_DBNAME
      targetPath: authentik.postgresql.name
    - kind: Secret
      name: *secret
      valuesKey: INIT_POSTGRES_USER
      targetPath: authentik.postgresql.read_replicas.0.user
    - kind: Secret
      name: *secret
      valuesKey: INIT_POSTGRES_PASS
      targetPath: authentik.postgresql.read_replicas.0.password
    - kind: Secret
      name: *secret
      valuesKey: INIT_POSTGRES_DBNAME
      targetPath: authentik.postgresql.read_replicas.0.name
