---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kube-web-view
spec:
  interval: 2h
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  uninstall:
    keepHistory: false
  values:
    controllers:
      kube-web-view:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: hjacobs/kube-web-view
              tag: 23.8.0
            args:
              - --clusters=main=http://localhost:8001;storage=http://localhost:8002
              - --port=8080
              - --show-container-logs
            env:
              - name: OAUTH2_AUTHORIZE_URL
                value: https://identity.18b.haus/application/o/authorize/
              - name: OAUTH2_ACCESS_TOKEN_URL
                value: https://identity.18b.haus/application/o/token/
              - name: OAUTH2_CLIENT_ID
                value: kube-web-view
              - name: OAUTH2_SCOPE
                value: 'openid profile email'
            envFrom:
              - secretRef:
                  name: kube-web-view
            probes:
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8080
            resources:
              limits:
                memory: 100Mi
              requests:
                cpu: 5m
                memory: 100Mi
          proxy-main:
            image:
              repository: registry.k8s.io/kubectl
              tag: v1.31.2
            args:
              - proxy
              - --port=8001
          proxy-storage:
            image:
              repository: registry.k8s.io/kubectl
              tag: v1.31.2
            args:
              - proxy
              - --port=8002
              - --kubeconfig=/kubeconfig
        serviceAccount:
          name: *app
    pod:
      securityContext:
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        runAsUser: 1000
    service:
      app:
        controller: kube-web-view
        ports:
          http:
            port: 8080
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Observability
          gethomepage.dev/icon: kubernetes.png
          gethomepage.dev/name: Kube Web View
        hosts:
          - host: &host kube-web-view.18b.haus
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      storage-auth:
        type: secret
        name: kube-web-view-storage-auth
        advancedMounts:
          kube-web-view:
            proxy-storage:
              - path: /kubeconfig
                subPath: kubeconfig
