---
# yaml-language-server: $schema=https://kubernetes-schemas.18b.haus/gateway.envoyproxy.io/clienttrafficpolicy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: ClientTrafficPolicy
metadata:
  name: experimental
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: experimental
  clientIPDetection:
    xForwardedFor:
      numTrustedHops: 1
  tls:
    minVersion: '1.2'
    alpnProtocols:
      - h2
      - http/1.1
