---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./alertmanager-telegram/ks.yaml
  - ./blackbox-exporter/ks.yaml
  - ./fritz-exporter/ks.yaml
  - ./gatus/ks.yaml
  - ./grafana/ks.yaml
  - ./kromgo/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./kube-web-view/ks.yaml
  - ./loki/ks.yaml
  - ./promtail/ks.yaml
  - ./pve-exporter/ks.yaml
  - ./speedtest-exporter/ks.yaml
  - ./thanos/ks.yaml
  - ./unifi-exporter/ks.yaml
