---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app garage
spec:
  interval: 2h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      garage:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: dxflrs/garage
              tag: v2.2.0@sha256:45a61ce3f7c9c24fc23d9ed2b09b27ed560ab87b34605d175d5c588f539c24e4
            envFrom:
              - secretRef:
                  name: garage
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 10000
        runAsGroup: 10000
        fsGroup: 10000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: *app
        ports:
          api:
            port: &port 3903
          web:
            port: 3902
          s3:
            port: &s3Port 3900
    serviceMonitor:
      app:
        serviceName: garage
        endpoints:
          - port: api
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
            authorization:
              credentials:
                key: GARAGE_METRICS_TOKEN
                name: garage
              type: Bearer
    route:
      api:
        hostnames:
          - garage-api.18b.haus
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
      s3:
        hostnames:
          - garage-s3.18b.haus
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *s3Port
    persistence:
      config:
        enabled: true
        type: configMap
        name: garage
        globalMounts:
          - path: /etc/garage.toml
            subPath: configuration.toml
      data:
        type: hostPath
        hostPath: /io/garage/data
        hostPathType: Directory
        globalMounts:
          - path: /data
      meta:
        type: hostPath
        hostPath: /io/garage/meta
        hostPathType: Directory
        globalMounts:
          - path: /meta
