---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app github-mirror
spec:
  interval: 2h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  dependsOn:
    - name: forgejo
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  uninstall:
    keepHistory: false
  values:
    controllers:
      github-mirror:
        type: cronjob
        cronjob:
          backoffLimit: 6
          concurrencyPolicy: Forbid
          failedJobsHistory: 1
          schedule: '01 23 * * 4'
          successfulJobsHistory: 0
          suspend: false
        containers:
          app:
            env:
              NO_COLOR: 'true'
              RUST_LOG: scm_migrator=debug
            envFrom:
              - secretRef:
                  name: *app
            image:
              repository: ghcr.io/martinohmann/scm-migrator
              tag: latest@sha256:19756249ce1325ec426812d3f82892281f88025dad06425dadabf546f27b0b02
            args:
              - migrate
              - github-to-gitea
              - --gitea-url=https://git.18b.haus
              - --exclude-forks
              - --include=martinohmann/.*
              - --mirror-interval=12h
              - --repo-owner=martinohmann-github-mirror
              - --no-dry-run
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile:
          type: RuntimeDefault
