---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unifi-exporter
spec:
  interval: 2h
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  uninstall:
    keepHistory: false
  values:
    controllers:
      unifi-exporter:
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/unpoller/unpoller
              tag: v2.16.0@sha256:bfe3eee9396919165f8dfe8282dfc7d30b27308748e0d6bb5c90aabc4dd36e3e
            env:
              UP_UNIFI_DEFAULT_URL: https://unifi.networking.svc.cluster.local
              UP_UNIFI_DEFAULT_VERIFY_SSL: false
              UP_INFLUXDB_DISABLE: true
            envFrom:
              - secretRef:
                  name: unifi-exporter
            resources:
              requests:
                cpu: 10m
                memory: 15Mi
              limits:
                memory: 45Mi
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
    service:
      app:
        controller: unifi-exporter
        ports:
          http:
            port: 9130
    serviceMonitor:
      app:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 2m  # Unifi API only polls at 2m intervals
            scrapeTimeout: 10s
        serviceName: unifi-exporter
