---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app backrest
spec:
  interval: 2h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      backrest:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-config:
            image:
              repository: docker.io/mikefarah/yq
              tag: 4.50.1
            command: ["/bin/sh", "-c"]
            args:
              - yq -o json /config/config.yaml > /app/config/config.json
            securityContext:
              privileged: true
              runAsUser: 0
        containers:
          app:
            image:
              repository: docker.io/garethgeorge/backrest
              tag: v1.10.1
            envFrom:
              - secretRef:
                  name: *app
            env:
              BACKREST_DATA: /app/data
              BACKREST_CONFIG: /app/config/config.json
              XDG_CACHE_HOME: /app/cache
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
            securityContext:
              privileged: true
              runAsUser: 0
        pod:
          imagePullSecrets:
            - name: dockerhub-auth
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 9898
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    route:
      app:
        hostnames:
          - backrest.18b.haus
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      app:
        existingClaim: *app
        advancedMounts:
          backrest:
            app:
              - path: /app
      cache:
        type: emptyDir
        advancedMounts:
          backrest:
            app:
              - path: /app/cache
      config:
        type: emptyDir
        globalMounts:
          - path: /app/config
      init-config:
        type: secret
        name: backrest-config
        advancedMounts:
          backrest:
            init-config:
              - path: /config/config.yaml
                subPath: config.yaml
                readOnly: true
      processlogs:
        type: emptyDir
        advancedMounts:
          backrest:
            app:
              - path: /app/data/processlogs
      storage:
        type: hostPath
        hostPath: /io
        hostPathType: Directory
        advancedMounts:
          backrest:
            app:
              - path: /io
                readOnly: true
      restic:
        type: hostPath
        hostPath: /io/restic
        hostPathType: Directory
        advancedMounts:
          backrest:
            app:
              - path: /io/restic
      restore:
        type: hostPath
        hostPath: /io/restore
        hostPathType: Directory
        advancedMounts:
          backrest:
            app:
              - path: /io/restore
