---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Kubeconform"

on:
  pull_request:
    branches: ["main"]
    paths:
      - "kubernetes/**"

env:
  SCHEMA_DIR: /home/runner/crds

jobs:
  changed-clusters:
    name: Changed Clusters
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changed-clusters.outputs.all_changed_and_modified_files }}
    steps:
      - name: Checkout Default Branch
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - name: Get Changed Clusters
        id: changed-clusters
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: kubernetes/**
          dir_names: true
          dir_names_max_depth: 2
          matrix: true

      - name: List All Changed Clusters
        env:
          ALL_CHANGED_CLUSTERS: ${{ steps.changed-clusters.outputs.all_changed_and_modified_files }}
        run: echo "$ALL_CHANGED_CLUSTERS"

  kubeconform:
    name: Kubeconform
    runs-on: ubuntu-latest
    needs: ["changed-clusters"]
    strategy:
      matrix:
        paths: ${{ fromJSON(needs.changed-clusters.outputs.matrix) }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Setup Tools
        shell: bash
        run: brew install kubeconform kustomize

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Extract files from container image
        shell: bash
        run: |
          mkdir -p ${{ env.SCHEMA_DIR }}
          docker run --rm \
              -v ${{ env.SCHEMA_DIR }}:/crds \
              -u $(id -u) \
              --entrypoint /bin/sh \
              ghcr.io/martinohmann/kubernetes-schemas:latest \
              -c "cp -r /usr/share/nginx/html/* /crds"

      - name: Run kubeconform
        shell: bash
        run: bash ./.github/scripts/kubeconform.sh ${{ matrix.paths }} ${{ env.SCHEMA_DIR }}
